<%= form_for(video) do |f| %>
  <% if video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="input-field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="row">
    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <%= f.file_field :file %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="input-field">
      <%= f.radio_button :effect, 'no_effect', id: 'no_effect', checked: true %>
      <%= f.label :no_effect, for: 'no_effect' %>
      <%= f.radio_button :effect,'sepia', id: 'sepia_effect' %>
      <%= f.label :sepia, for: 'sepia_effect' %>
      <%= f.radio_button :effect, 'black_and_white', id: 'black_and_white_effect' %>
      <%= f.label :black_and_white, for: 'black_and_white_effect' %>
    </div>
  </div>

  <div class="row">
    <button class="btn waves-effect waves-light" type="submit" name="action">
      Submit<i class="material-icons right">send</i>
    </button>
  </div>
<% end %>
