<p id="notice"><%= notice %></p>

<h1 class="header center orange-text">Video <%= @video.id %></h1>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Original Video File:</strong>
  <%= video_tag(@video.file.url, controls: true) if @video.file.url.present? %>
</p>

<p>
  <strong>Resized and Converted Video File:</strong>
  <%= video_tag(@video.file.url(:processed), controls: true) if @video.file.url(:processed).present? %>
</p>

<p>
  <strong>File processing:</strong>
  <%= @video.file_processing? ? "Yes" : "No" %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @video.file_duration %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
