<p id="notice"><%= notice %></p>

<h1 class="header center orange-text">Video <%= @video.id %></h1>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Video File:</strong>
  <%= video_tag(@video.file.url, controls: true) if @video.file.url.present? %>
</p>

<p>
  <strong>Effects:</strong>
  <%= @video.effects.map { |e| e.to_s.humanize }.join(', ') %>
</p>

<p>
  <strong>File processing progress:</strong>
  <div class="progress">
      <div class="determinate" style="width: <%= (@video.progress.to_f * 100).round %>%"></div>
  </div>
</p>

<% @video.processing_metadatas.each do |pm| %>
  <p>
    <strong><%= pm.step.humanize %> (<%= pm.format %>):</strong>
    <div class="progress">
        <div class="determinate" style="width: <%= (pm.progress.to_f * 100).round %>%"></div>
    </div>
  </p>
<% end %>

<p>
  <strong>File processing:</strong>
  <%= @video.file_processing? ? "Yes" : "No" %>
</p>

<p>
  <strong>Duration:</strong>
  <%= "#{@video.file_duration} Seconds" if @video.file_duration %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
